.logo {
    width: 50px;
    height: 50px;
}

.main-container {
    margin-bottom: 100px;
}

.footer {
    background-color: white;
}

.icon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
    align-self: center;
}

.error-icon {
    width: 300px;
    height: 300px;
    align-self: center;
    justify-self: center;
}

.action-icon {
    width: 150px;
    height: 150px;
}

.countries-container {
    width: 350px;
    white-space: wrap;
}

.date-container {
    width: 270px;
    white-space: wrap;
}

.passenger-container {
    width: 350px;
    white-space: wrap;
}

.detail-item{
    width: 300px;
}

.full-width {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%; 
    max-width: 400px;
}